* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: 'Mulish-Bold';
    src: url(../fonts/Mulish-Bold.ttf);
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url(../fonts/Mulish-Regular.ttf);
}
@font-face {
    font-family: 'Mulish-Medium';
    src: url(../fonts/Mulish-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Mulish-ExtraBold';
    src: url(../fonts/Mulish-ExtraBold.ttf);
}
.container {
    max-width: 1510px;
    margin: 0 auto;
    width: 100%;
}

.main_nav {
    padding: 14px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px 1px rgba(0, 0, 0, 0.1);
}

.main_nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu {
    display: flex;
    gap: 35px;
}

.main_menu a {
    font-family: 'Raleway-Medium';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.main_menu a.active,
.main_menu a:hover {
    font-family: 'Raleway-ExtraBold';
    color: #8B0000;
}

.logo img {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.lang {
    display: flex;
    align-items: center;
    font-family: 'Raleway-Medium';
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    gap: 15px;

}

.banner {
    width: 100%;
    height: 969px;
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: center; */
    color: #FFFFFF;
}

.banner h1 {
    font-family: 'Raleway-Bold';
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 878px;
    margin-bottom: 66px;
}
.btn_white,
.btn_yellow {
    background-color: #db2121;
    border: 1px solid #db2121;
    border-radius: 15px;
    font-family: 'Mulish-Bold';
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 442px;
    width: 100%;
    display: block;
    padding: 19px;
    text-align: center;
    background-image: url(../img/arrow2.svg), url(../img/arrow1.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 80% center, 90% center;
}
.btn_white{
    background: #ECECEC;
    color: #000000;
    border: 1px solid #ECECEC;
}
.btns_block {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.banner .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .social_list {
    position: absolute;
    bottom: 52px;
    right: 0;
    padding: 16px 34px;
    background: #8B0000;
    border: 2px solid #db2121;
    border-radius: 100px;
    display: flex;
    gap: 35px;
}

.banner .social_list p {
    position: absolute;
    top: -50px;
    font-family: 'Raleway-Medium';
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner .social_list a {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    transition: .3s;
}

.banner .social_list a:hover {
    background: #db2121;
    border-radius: 8px;
}
.about_section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Added to ensure proper wrapping on smaller screens */
}

.about_section .left {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.about_section .left img {
    width: 100%;
    height: auto; /* Ensures the aspect ratio is maintained */
    object-fit: cover;
}

.about_section .right {
    flex: 1;
    padding-left: 20px; /* Added padding to give some space between image and text */
    font-family: 'Raleway-Medium';
    font-size: 20px;
    line-height: 1.5; /* Adjusted line height for better readability */
    letter-spacing: 0.06em;
    color: #0C0C0C;
}

.about_section .right p {
    margin-bottom: 15px;
}
.section_title{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    color: #db2121;
    text-align: center;
    margin: 100px 0px 60px 0px;
    position: relative;
}
.features_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    margin-bottom: 100px;
    gap: 30px;
}
.features_list .f_item{
    background: #FFFFFF;
    border: 1px solid #8B0000;
    border-radius: 12px;
    width: calc(100% / 3 - 30px);
    text-align: center;
    padding: 30px;
    color: #FFFFFF;
}
.features_list .f_item .icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.features_list .f_item h6{
    font-family: 'Raleway-Bold';
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000000;
}
.features_list .f_item p{
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
}
.subject_section{
     padding: 40px 0px 95px 0px;
     background: #FAF5FF;
}
.subject_section .section_title{
    margin-bottom: 35px;
    margin-top: 0;
}
.subject_section .subjects_list{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.subject_section .subjects_list .s_item{
    font-family: 'Raleway-SemiBold';
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: calc(100% / 3 - 30px);
    border-radius: 16px;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.subject_section .subjects_list .s_item h6{
    z-index: 1;
    position: relative;
}
.subject_section .subjects_list .s_item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.37);
    z-index: 0;
}
.subject_section .btn_yellow{
    margin: 0 auto;
}
.subject_section.page .btn_yellow{
    margin: unset;
}
.section_subtitle{
    text-align: center;
    font-family: 'Mulish-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 50px;
}
.team_section .section_title{
    margin-bottom: 40px;
}
.team_section .slider_btns{
    position: unset;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.students_item{
    padding: 82px 55px 54px 0px;
    background: #FF7F7F;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}
.slick-initialized .slick-slide,
.students_item.slick-active{
    display: flex !important;
}
.students_item .img{
    /* padding: 34px 62px 8px 55px; */
    background-image: url(../img/circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 443px;
}
.students_item .img img{
    height: 100%;
}
.students_item .middle{
    width: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -173px;
}
.students_item .left{
    display: flex;
}
.students_item .middle h5{
    font-family: 'Raleway-ExtraBold';
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.students_item .middle h6{
    font-family: 'Raleway-Light';
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.students_item .right p{
    font-family: 'Raleway-Medium';
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    width: 283px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}
.students_item .right p:last-child {
    margin-top: 40px;
    margin-bottom: 0;
}
.slider_btns{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
}
.slider_btns div{
    width: 57px;
    height: 58px;
    border: 1px solid #8B0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.address_list .add_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.address_list .add_item .left{
    border-left: 1px solid black;
    padding-left: 36px;
}
.address_list .add_item .left h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #8B0000;
    margin-bottom: 60px;
}
.address_list .add_item .left address{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 60px;
}
.address_list .add_item .left p{
    font-family: 'Raleway-Regular';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;
}
.address_list .add_item .left p b{
    font-family: 'Raleway-ExtraBold';
}
.address_list .add_item .right{
    width: 730px;
    height: 558px;
    position: relative;
}
.address_list .add_item .right iframe{
    width: 100%;
    height: 100%;
}
.address_list .add_item .right h6{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #8B0000;
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address_section{
    margin-bottom: 200px;
}
.main_footer{
    padding-top: 55px;
    padding-bottom: 100px;
    background: #8B0000;
}
.main_footer .container{
    display: flex;
    justify-content: space-between;
}
.main_footer  h6{
    font-family: 'Mulish-ExtraBold';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.main_footer .footer_menu a{
    font-family: 'Raleway-Medium';
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    gap: 5px;
}
.main_footer .footer_address address{
    font-family: 'Raleway-Regular';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #ABABAB;
    margin-bottom: 29px;
    max-width: 320px;
}
.footer_socials{
    display: flex;
    gap: 14px;
}
.contact_banner{
    height: 843px;
    background-color: #A52A2A;
    background-image: url(../img/contactleft.png), url(../img/contactphone.png);
    background-repeat: no-repeat;
    background-position:  5% bottom,  90% center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact_banner h1{
    font-family: 'Raleway-ExtraBold';
    font-size: 64px;
    line-height: 75px;
    color: #db2121;
    margin-bottom: 55px;
}
.contact_banner .banner_btns{
    display: flex;
    gap: 68px;
    justify-content: center;
    margin-bottom: 80px;
}
.btn_bd_white{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 22px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
}
.btn_tel{
    display: inline-flex;
    align-items: center;
    gap: 18px;
    font-family: 'Mulish-ExtraBold';
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.btn_tel span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #db2121;
    border-radius: 50%;
}
.single_page_banner{
    height: 845px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.single_page_banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.22);
    z-index: 1;
}
.single_page_banner h1{
    font-family: 'Raleway-Medium';
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom:  30px;
    position: relative;
    z-index: 2;
}
.single_page_banner p{
    position: relative;
    z-index: 2;
    font-family: 'Raleway-Medium';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.single_page_banner a{
    position: relative;
    z-index: 2;
}
.page_details{
    padding: 100px 0px;
}
.page_details h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    color: #db2121;
    text-align: center;
    margin-bottom: 35px;
}
.page_details .content_info{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.content_info p{
    margin-bottom: 1em;
}
.modal_order{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.5px);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal_content{
    background: rgba(126, 34, 206, 0.8);
    border: 1px solid rgba(126, 34, 206, 0.9);
    box-shadow: 0px 4px 30px #8B0000;
    border-radius: 30px;
    padding: 54px 50px 30px 50px;
    color: white;
    max-width: 500px;
}
.modal_content h2{
    font-family: 'Mulish-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 17px;
}
.modal_content p{
    font-family: 'Mulish-Medium';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
.modal_content .bg_input{
    margin-bottom: 50px;
}
.modal_content .info{
    font-family: 'Raleway-Bold';
    font-size: 14px;
    line-height: 16px;
    color: #CECECE;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0;
}
.bg_input{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 22px 12px;
    width: 100%;
    font-family: 'Mulish-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #8B8B8B;
}
.work_with_us{
    background-image: url(../img/workus.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0px;
    position: relative;
}
.work_with_us h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    color: #db2121;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-bottom: 123px;
}
.work_with_us:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.58);
    z-index: 0;
}
.work_with_us h6{
    font-family: 'Raleway-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
}
.work_with_us p{
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 30px;
}
.work_with_us p b{
    font-family: 'Raleway-Bold';
}
.work_with_us h6{
    font-family: 'Raleway-Medium';
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #807D7D;
}
.work_with_us h6:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.btn_read_yellow{
    background: #db2121;
    border: 1px solid #db2121;
    border-radius: 15px;
    padding: 13px 36px;
    font-family: 'Mulish-Bold';
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: inline-flex;
    margin-bottom: 30px;
}
.vocansy_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.vocansy_list .item{
    background: #DC143C;
    border-radius: 16px;
    padding: 60px;
    width: calc(50% - 30px);
}
.vocansy_list .item h4{
    font-family: 'Raleway-ExtraBold';
    font-size: 32px;
    line-height: 38px;
    color: #db2121;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 34px;
    margin-bottom: 34px;
}
.vocansy_list .item .filal{
    font-family: 'Raleway-Medium';
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.vocansy_list .item .filal b{
    font-family: 'Raleway-Bold';
}
.vocansy_list .item .salary{
    font-family: 'Raleway-Medium';
    font-size: 26px;
    line-height: 31px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.vocansy_list .item .info{
    font-family: 'Raleway-Regular';
    font-size: 18px;
    line-height: 21px;
    color: #ADADAD;
    margin-bottom: 0;
}
.form_vocansy{
    background: #FAF8F8;
    padding: 64px 0px;
    margin: 30px 0px;
}
.form_vocansy .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_vocansy .left h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    line-height: 47px;
    color: #db2121;
    margin-bottom: 30px;
}
.form_vocansy .left p{
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    max-width: 740px;
}
.page_details ul li{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 30px;
    list-style: none;
    background-repeat: no-repeat;
    background-image: url(../img/circle_green.png);
    background-size: contain;
    padding-left: 50px;
}
.type_program{
    background: #db2121;
    padding: 40px 0px;
}
.type_program .section_title{
    margin: 0;
    margin-bottom: 60px;
}
.type_program .container{
    display: flex;
    justify-content: space-around;
}
.type_program .item img{
    margin-bottom: 20px;
    width: 166px;
}
.type_program .item {
    text-align: center;
    max-width: 350px;
}
.type_program .item h6{
    font-family: 'Raleway-SemiBold';
    font-size: 32px;
    line-height: 36px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
}
.type_program .item  p{
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.025em;
    color: #000000;
}
.lesson_type .lesson_type_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.lesson_type_list .item{
    background: #8B0000;
    box-shadow: 8px 6px 11px 2px rgba(126, 34, 206, 0.1), 8px 6px 11px 2px rgba(126, 34, 206, 0.11);
    border-radius: 16px;
    color: white;
    padding: 25px 10px;
    width: calc(100% / 3 - 10px);
    text-align: center;
}
.lesson_type_list .item h6{
    font-family: 'Raleway-Bold';
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
}
.lesson_type_list .item p{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    color: white;
}
.lesson_type p{
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
}
.our_clients .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.our_clients .slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-bottom: 100px;
}
.btn_mobile_menu{
    display: none;
}
.team_slider .team_item{
    border: 1px solid #8B0000;
    border-radius: 16px;
    padding-top: 51px;
}
.team_slider .team_item .img_member{
    background-image: url('../img/t1_c.png');
    background-position: bottom;
    background-size: inherit;
    background-repeat: no-repeat;
    height: 514px;
    min-width: 469px;
    margin-top: auto;
}
.team_slider .team_item .img_member img{
    height: 100%;
    margin: 0 auto;
}
.team_slider .team_item .info_member{
    padding: 0px 72px 61px 0px;
}
.team_slider .team_item .info_member .name{
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #353535;
    width: 200px;
}
.team_slider .team_item .info_member .subject_of_member{
    padding: 13px 16px;
    font-family: 'Raleway-Regular';
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #db2121;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 29px;
    display: inline-block;
}
.team_slider .team_item .info_member .about_member{
    font-family: 'Raleway-Regular';
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.team_section .slider_btns{
    position: relative;
    justify-content: end;
    margin: 30px 4px 30px 0;
}
@media screen and (max-width: 1300px) {
    .lang,
    .main_menu a{
        font-size: 18px;
        line-height: 22px;
    }
    .team_slider .team_item .info_member .name{
        font-size: 41px;
        line-height: 43px;
    }
   
}
@media screen and (max-width: 1200px) {
    .lang,
    .main_menu a{
        font-size: 16px;
    }
    .lang img{
        width: 30px;
    }
    .logo img{
        width: 160px;
    }
    .team_slider .team_item .info_member .about_member{
        font-size: 16px;
    }
    .students_item .middle h5{
        font-size: 27px;
        line-height: 32px;
    }
    .students_item .middle h6{
        font-size: 33px;
        line-height: 38px;
    }
    .students_item .right p{
        font-size: 26px;
        line-height: 29px;
        width: 200px;
    }
}
@media screen and (max-width: 1024px) {
    .team_slider .team_item .info_member .name{
        font-size: 32px;
        line-height: 34px;
    }
    .team_slider .team_item .info_member .subject_of_member{
        font-size: 16px;
        line-height: 16px;
        margin-top: 15px;
        margin-bottom: 17px;
    }
    .features_list{
        gap: 16px 26px;
    }
    .features_list .f_item h6{
        font-size: 18px;
        line-height: 19px;
    }
    .features_list .f_item p{
        font-size: 16px;
        line-height: 19px;
    }
    .subject_section .subjects_list .s_item h6{
        font-size: 20px;
    }
    .container {
        padding: 0 36px;
    }
    .lang,
    .main_menu a{
        font-size: 14px;
    }
    .lang img{
        width: 25px;
    }
    .logo img{
        width: 135px;
    }
    .banner h1{
        font-size: 40px;
        line-height: 53px;
        max-width: 685px;
    }
    .section_title {
        font-size: 35px;
        line-height: 40px;
    }
    .btn_white, 
    .btn_yellow{
        font-size: 23px;
        line-height: 24px;    
    }
    .address_list .add_item .left p{
        font-size: 28px;
        line-height: 33px;
    }
    .address_list .add_item .left h3{
        font-size: 32px;
        line-height: 40px;
    }
    .main_footer .footer_menu a{
        font-size: 16px;
        line-height: 18px;
    }
    .about_section .left{
        width: 580px;
        height: unset;
    }
    .about_section .right {
        max-width: calc(100% - 600px);
    }
    .about_section .left img{
        width: 100%;
        height: 100%;
        min-width: unset;
        min-height: unset;
    }
    .students_item .img{
        height: 346px;
        background-image: none;
    }
    .students_item .slick-slide{
        padding: 33px 55px 24px 0px;
    }

    .students_section .slider_btns{
        position: relative;
        margin-top: 24px;
        justify-content: end;
    }
    
}
@media screen and (max-width: 900px){
    .students_item{
        margin-right: 0;
    }
    .address_list .add_item{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .main_footer .container{
        flex-wrap: wrap;
    }
    .footer_address,
    .footer_menu{
        width: 50%;
    }
    .address_list .add_item .right h6{
        writing-mode: unset;
        position: relative;
    }
    .address_list .add_item .right{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .team_slider .team_item .img_member{
        height: 479px;
        min-width: 381px;
        background-size: 100%;
    }
    .btn_mobile_menu{
        display: block;
    }
    .main_menu{
        display: none;
    }
    .main_nav .container{
        justify-content: end;
        gap: 13px;
        padding-right: 36px;
    }
    .main_nav .logo{
        position: absolute;
        left: 36px;
    }
    .btn_mobile_menu{
        width: 42px;
        height: 42px;
        background: #8B0000;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        border-radius: 28%;
    }
    .btn_mobile_menu span{
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        z-index: 1;
        display: block;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        
    }
    .btn_mobile_menu input{
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    .btn_mobile_menu span:nth-last-child(2){
        transform-origin: 0% 100%;
    }
    .btn_mobile_menu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(4px, -4px)
    }
    .btn_mobile_menu input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .btn_mobile_menu input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(3px, 6px);
    }
    .btn_mobile_menu input:checked ~ .btn_mobile_menu{
        border-radius: 10%;
    }
    .btn_mobile_menu .menu_mobile{
        position: absolute;
        top: 71px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: 36px;
        background: rgba(178, 34, 34, 0.91);
        backdrop-filter: blur(2px);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 99;
    }
    .btn_mobile_menu input:checked ~ .menu_mobile{
        transform: none;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .btn_mobile_menu .menu_mobile a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        display: block;
    }
    .btn_mobile_menu .menu_mobile a:not(:last-child){
        margin-bottom: 20px
    }
    .about_section .left{
        display: none;
    }
    .about_section .right{
        max-width: 100%;
    }
    .lang{
        align-items: flex-end;
    }
    .students_item .img{
        height: 280px;
    }
    .students_item .middle {
        margin-left: -120px;
    }
    .students_item .middle h5{
        font-size: 23px;
        line-height: 28px;
    }
    .students_item .middle h6{
        font-size: 26px;
        line-height: 33px;
    }
    .students_item .right p{
        font-size: 22px;
        line-height: 20px;
        width: 160px;
    }
}
@media screen and (max-width: 800px) {
    .section_subtitle{
        font-size: 18px;
    }
    .subject_section .subjects_list .s_item h6{
        font-size: 17px;
    }
    .banner h1{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        max-width: unset;
    }
    .btns_block{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .banner .social_list{
        display: none;
    }
    .banner{
        height: unset;
    }
    .banner .container{
        padding: 41px 46px 31px 46px;
    }
    .banner .btn_white,
    .banner .btn_yellow{
        padding: 7px 20px;
        font-size: 12px;
        line-height: 15px;
        width: fit-content;
        max-width: unset;  
        background-image: unset;
    } 
    .single_page_banner .btn_yellow,
    .subject_section.page .btn_yellow{
        background-image: unset;
        max-width: unset;  
        width: fit-content;
    }
    .section_title{
        font-size: 20px;
        line-height: 23px;
        margin: 40px 0px 30px 0px
    }  
    .about_section .right p{
        font-size: 16px;
        line-height: 19px;
    }
    .team_slider .team_item{
        flex-direction: column;
    }
    .team_slider .team_item .info_member{
        padding: 0;
    }
    .team_slider .team_item{
        padding: 20px 23px 31px 24px;
    }
    .team_slider .team_item .img_member{
        background-size: 75%;
    }
    .team_slider .team_item .info_member .name{
        text-align: center;
        width: unset;
        margin-top: 17px;
        margin-bottom: 18px;
    }
    .team_slider .team_item .info_member .subject_of_member{
        margin-inline: auto;
        width: fit-content;
        display: block;
    }
    .contact_banner h1{
        font-size: 47px;
    }
    .btn_bd_white{
        font-size: 17px;
    }
    /* .contact_banner{
        background-color: rgba(0, 0, 0, 0.69);
    } */
}
@media screen and (max-width: 700px){
    .features_list .f_item{
        width: 100%;
    }
    .features_list .f_item h6{
        line-height: 21px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subject_section .subjects_list .s_item {
        width: 100%;
        height: 193px;
    }
    .subject_section .subjects_list .s_item h6{
        font-size: 20px;
        line-height: 23px;
    }
    .subject_section.page .section_title{
        margin-bottom: 24px;
    }
    .subject_section.page{
        background: #fff;
        padding: 16px 0 95px 0;
    }
    .subject_section.page .btns_block{
        flex-direction: column-reverse;
    }
    .subject_section.page .btn_white{
        padding: 19px 25px;
        font-size: 18px;
        line-height: 23px;
        width: fit-content;
    }
    .subject_section.page .btn_yellow{
        padding: 19px 12px;
        font-size: 18px;
        line-height: 23px;
    }
    .subject_section .subjects_list{
        margin-bottom: 40px;
    }
    .single_page_banner h1{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 22px;
    }
    .single_page_banner .btn_white, 
    .single_page_banner .btn_yellow{
        padding: 11px 25px;
        font-size: 18px;
        line-height: 23px;
    }
    .single_page_banner{
        height: 394px;
        padding-top: 174px;
        justify-content: flex-start;
    }
    .page_details{
        padding-top: 30px;
    }
    .page_details h2{
        font-size: 20px ;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .content_info p{
        font-size: 16px; 
        line-height: 19px;
    }
    .team_section .slider_btns{
        justify-content: center;
    }
    .team_slider .team_item .info_member .name{
        font-size: 24px;
        line-height: 28px;
    }
    .team_slider .team_item .info_member .subject_of_member{
        font-size: 20px;
        line-height: 23px;
    }
    .team_slider .team_item .info_member .about_member{
        font-size: 14px;
        line-height: 100%;
    }
    .students_section .slider_btns{
        justify-content: center;
    }
    .students_section .container{
        padding: 0;
    }
    .students_item .img{
        height: 186px;
    }
    .students_item .middle h5{
        font-size: 16px;
        line-height: 19px;
        width: 108px;
    }
    .students_item .middle h6{
        font-size: 24px;
        line-height: 28px;
    }
    .students_item{
        padding: 17px 18px 30px 0;
    }
    .students_item .middle{
        justify-content: center;
        gap: 94px;
        margin-left: -94px;
        margin-top: 32px;
        width: unset;
    }
    .students_item .right p{
        font-size: 16px;
        font-size: 18px;
        margin-bottom: 12px;
        width: unset;
        display: flex;
        gap: 20px;
    }
    .students_item .right p:last-child{
        margin-top: 20px;
    }
    .address_list .add_item .right h6{
        font-size: 20px;
        line-height: 23px;
        padding: 10px;
    }
    .address_list .add_item .right iframe{
        height: 209px;
    }
    .address_list .add_item .left h3{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
    }
    .address_list .add_item .left p b,
    .address_list .add_item .left address{
        font-size: 14px;
        line-height: 16px;
    }
    .address_list .add_item .left address{
        margin-bottom: 16px;
    }
    .address_list .add_item .right{
        height: unset;
    }
    .address_list .add_item .left{
        border-left: unset;
        padding-left: unset;
        padding-bottom: 28px;
        position: relative;
    }
    .address_list .add_item .left::after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 188px;
        background: #8B0000;
        height: 1px;
        margin: auto;
        left: 0;
        right: 0;
    }
    .address_section{
        margin-bottom: 70px;
    }
    .address_list .add_item{
        margin-bottom: 30px;
    }
    
}
@media screen and (max-width: 600px){
    .team_slider .team_item .img_member {
        background-size: 100%;
    }
    .features_list .f_item p{
        font-size: 14px;
        line-height: 16px;
    }
    .main_footer .logo{
        display: none;
    }
    .footer_address, 
    .footer_menu{
        width: 100%;
        margin-bottom: 16px;
    }
    .main_footer .footer_menu a{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 21px;
    }
    .footer_address{
        text-align: center;
    }
    .main_footer .footer_address address{
        max-width: unset;
    }
    .footer_socials{
        justify-content: center;
    }
    .contact_banner h1{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 36px;
    }
    .contact_banner .banner_btns{
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 28px;
    }
    .btn_bd_white{
        width: 100%;
        font-size: 18px;
        line-height: 21px;
        padding: 16px 12px;
    }
    .contact_banner{
        height: 394px;
        background-position: center;
        background-size: contain;
        padding-top: 93px;
        justify-content: flex-start;
    }
    .btn_tel{
        font-size: 18px;
        line-height: 23px;
    }
    .btn_tel span{
        width: 47px;
        height: 47px;
    }
}
@media screen and (max-width: 500px){
    .team_slider .team_item .img_member{
        min-width: unset;
        width: 100%;
        background-size: 115%;
        height: 400px;
    }
    .logo img{
        width: 113px;
    }
}
@media screen and (max-width: 450px){
    .main_footer h6{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 19px;
    }
}
