body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #f4f4f4;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header .logo {
    width: 150px;
    height: auto;
}

.header-content {
    flex-grow: 1;
    text-align: center;
}

.contact-info {
    text-align: right;
}

.language-select img {
    width: 25px;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
}

.phone-number img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #e8491d;
}

section:last-of-type {
    border-bottom: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea, form select {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

#thankYouMessage {
    background-color: rgba(186, 34, 40, 0.8);
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
